<mat-grid-list cols="4" style="height: 100%;" rowHeight="fit">
  <mat-grid-tile colspan="1">
    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <div class="project-wrapper">
      <app-project></app-project>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<!--<mat-drawer-container>-->
<!--  <mat-drawer mode="side" opened>-->
<!--    <div style="width: 300px; overflow: auto">-->
<!--      <app-sidebar></app-sidebar>-->
<!--    </div>-->
<!--  </mat-drawer>-->
<!--  <mat-drawer-content>-->
<!--    <div>-->
<!--      <app-project></app-project>-->
<!--    </div>-->
<!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  <app-sidebar></app-sidebar>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;<hr>&ndash;&gt;-->
<!--&lt;!&ndash;    <h2> Active project: {{ selectedProject?.name }}</h2>&ndash;&gt;-->

<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;      <button *ngIf="selectedProject?.isRunning" mat-raised-button color="primary" (click)="stopProject()">Stop project </button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button *ngIf="!selectedProject?.isRunning" mat-raised-button color="primary" (click)="startProject()">Start project </button>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <div *ngIf="selectedProject?.isRunning; else notRunTemplate">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div  style="" id="term2">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-mini-fab color="primary">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>play_arrow</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-mini-fab color="warn">&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-icon>stop</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;        </button>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;        <div id="term"></div>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <ng-template #notRunTemplate>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <div>Project not running</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </ng-template>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  <h2>Content</h2>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  {{ content }}&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--  </mat-drawer-content>-->
<!--</mat-drawer-container>-->
