mat-card + mat-card
  margin-top: 16px

.console-wrapper
  //height: 100%
  flex: 1 1 auto
  min-height: 0

  > div
    height: 100%

.project-content
  height: 100%
  display: flex
  flex-direction: column
  flex: 0 1 auto
